.top{
    height: 200px;
    display: flex;

}
  
img{
    height: 230px;
    width: 230px;
    margin-left: 20px;
}
.write{
    margin-left: 90px;
    padding-top: 50px;
}


.headline{
    background-color: aqua;
    width: 100%;
    height: 50px;
 ;
}
@keyframes admission {
 0%{
    left: 20px;
 }
 100%{
    left:75%;
 }
}
.headerpart{
 
 position: absolute;
 animation: admission 7s ease-in-out  0.2s infinite alternate ;
}
.containar{
display: flex;
flex-direction: row;
flex-wrap: wrap;
    max-width: 900px;
    margin: 10px auto;
    justify-content: center;
    box-shadow: 14px 23px 23px gray;
}
.information>img{
    width: 200px;
    
}
.information>img:hover{
background-color: blue;
}
.information>h1{
    margin-left:15px;
}
.end{
    margin-top: 50px;
}
.link{
     text-decoration:none;
     text-align: center;
    font-size: 30px;
    background-color:red;
    color: antiquewhite;
    border-radius:20px;
    margin-left: 40%;
    border: 3px solid lawngreen;

}
.oldinformation{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    padding-top: 50px;
    margin-left: 27%;
    position: relative;
    width: 50%;

}
.oldinformation .govt{
    height: 300px;
    width: 300px;
    padding-top:60px;

}
.oldinformation .hostory{
    width: 300px;
    margin-left: 50px;
}
.oldinformation:hover{
    border: 5px ridge aqua;
}
.Computer>ul{
    display:grid;
    grid-template-columns: repeat( 5,1fr);
}
.Computer>ul>li{
    list-style: none;
    background-color: lightcoral;
    height: 30px;
    width: 100%;
    font-size: 15px;
    padding-top: 10px;

}
.Computer>ul>li:hover{
    background-color: lightseagreen;
}